<!-- views/partials/footer.ejs -->

<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <!-- <div class="col-md-3">
            <div class="footer-widget">
                <h3 class="footer-title">Categories</h3>
                <div class="category-widget">
                    <ul>
                        <li><a href="#">Lifestyle <span>451</span></a></li>
                        <li><a href="#">Fashion <span>230</span></a></li>
                        <li><a href="#">Technology <span>40</span></a></li>
                        <li><a href="#">Travel <span>38</span></a></li>
                        <li><a href="#">Health <span>24</span></a></li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="col-md-6">
            <div class="footer-widget">
                <div class="footer-logo">
                    <a href="/" class="logo"><img src="/img/sulbaguia-logo-h-t.png" alt=""></a>
                </div>
                <p class="text-justify"><%= translation.footer.mission %></p>
                <p class="mt-3 mb-3 mail-text">
                    <a href="mailto:contato@sulbaguia.com.br" target="_blank">contato@sulbaguia.com.br</a>
                </p>
                <ul class="contact-social">
                    <li><a href="https://fb.me/sulbaguia" target="_blank"><i class="fab fa-facebook-f s-facebook"></i></a></li>
                    <li><a href="https://instagram.com/sulbaguia" target="_blank"><i class="fab fa-instagram s-instagram"></i></a></li>
                    <li><a href="mailto:contato@sulbaguia.com.br" target="_blank"><i class="far fa-envelope s-email"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="footer-widget">
                <!-- <h3 class="footer-title">Fale conosco</h3> -->
                <div class="contact-widget mb-2">
                    <p><%= translation.footer.contactFormText %></p>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <input id="contact-name" class="input" name="name" placeholder="<%= translation.footer.name %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-md-1 mb-2">
                            <input id="contact-email" class="input" name="email" placeholder="<%= translation.footer.email %>">
                        </div>
                        <div class="col-md-6 pl-md-1 mb-2">
                            <input id="contact-phone" class="input" name="phone" placeholder="<%= translation.footer.phone %>">
                        </div>
                    </div>
                    <textarea id="contact-message" rows="2" class="input mb-1" name="message" placeholder="<%= translation.footer.message %>"></textarea>
                    <div>
                        <button id="btn-contact-send" class="btn primary-button"><%= translation.footer.send %></button>
                        <div class="spinner-container d-none">
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="contact-sucess-message mt-2 d-none"><%= translation.footer.sendSuccessMessage %></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->

    <!-- row -->
    <div class="footer-bottom row">
        <div class="col-md-12">
            <div class="footer-support d-flex">
                <span class="support-title"><%= translation.footer.partners %></span>
                <span class="company" data-toggle="tooltip" data-placement="right" title="Agência Coletiva Digital">
                    <a href="https://www.instagram.com/agenciacoletivadigital" target="_blank">
                        <img src="/img/partners/agencia-coletiva-digital.jpg" alt="" srcset="">
                    </a>
                </span>
            </div>

            <!-- <div class="footer-copyright">
                Copyright &copy; <%= moment().format('YYYY') %> Todos os direitos reservados
            </div> -->
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- BOOTSTRAP 4 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/main.jquery.js"></script>
<script type="text/javascript" src="/js/aside.jquery.js"></script>