<!-- views/pages/events/events.ejs -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <% include ../../partials/head %>

    <!-- Slich image slider and carousel - CSS-->
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>

    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/event.css">
</head>
<body>
    <header id="header"><% include ../../partials/header %></header>
    
    <div class="main-container">
        <div class="row event-info-row">
            <!-- EVENT INFO -->
            <div class="col-md-12">
                <div class="slider-container">
                    <% for(let img of event.images) { %>
                        <% if(img) { %><img src="<%= img %>" alt=""><% } %>
                    <% } %>
                </div>

                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title"><%= event.title %></h2>
                    </div>

                    <p><%= event.description %></p>

                    <div class="date-place">
                        <div class="date"><%= moment(event.start).format("DD [de] MMMM [de] YYYY, H[h]") %></div>
                        <div class="place">
                            <%= org.name %> | 
                            <%= org.address.street ? (org.address.street + ', ') : "" %>
                            <%= org.address.number ? (org.address.number + ', ') : "" %>
                            <%= org.address.city %></div>
                        <% if(event.site) { %>
                        <div class="site"><%= event.site %></div>
                        <% } %>
                    </div>


                    <% if(org.address.location && org.address.location.lat) { %>
                        <div id="map" data-location-lat="<%= org.address.location.lat %>" data-location-lng="<%= org.address.location.lng %>" class="mb-3"></div>
                    <% } %>

                    <!-- <blockquote class="blockquote">
                        <p>Ei prima graecis consulatu vix, per cu corpora qualisque voluptaria. Bonorum moderatius in per, ius cu albucius voluptatum. Ne ius torquatos dissentiunt. Brute illum utroque eu quo. Cu tota mediocritatem vis, aliquip cotidieque eu ius, cu lorem suscipit eleifend sit.</p>
                        <footer class="blockquote-footer">John Doe</footer>
                    </blockquote> -->
                </div>
            </div><!-- /EVENT INFO -->
        </div>
    </div>
        
    <footer id="footer"><% include ../../partials/footer %></footer>

    
    <!-- Page specific scripts -->
    <script type="text/javascript" src="/slick/slick.min.js"></script><!-- Slich image slider and carousel - JS-->
    <script type="text/javascript" src="/js/event.jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1iWpvlS1wbZG3WuxVE3fuAeLy3Y7wo68&callback=initMap" async defer></script>
    <script>
        var map, marker;
        function initMap() {
            let mapElement = document.getElementById('map');
            if(mapElement) {
                let location = {
                    lat: parseFloat(mapElement.getAttribute('data-location-lat')),
                    lng: parseFloat(mapElement.getAttribute('data-location-lng'))
                };
                var map = new google.maps.Map(mapElement, {zoom: 14, center: location});
                var marker = new google.maps.Marker({position: location, map: map});
            }
        }
    </script>
</body>
</html>