<!-- views/partials/index-partial-events.ejs -->
<% Object.keys(events).forEach(function(monthDate) { %>
    <% if (events[monthDate] && events[monthDate].length > 0) { %>
        <div class="row mt-2 event-row">
            <div class="col-md-12">
                <div class="event-row-title">
                    <h2>
                        <% if (monthDate === moment().format("MMDD")) { %>
                            HOJE | 
                        <% } else if (monthDate === moment().add(1, 'd').format("MMDD")) { %>
                            AMANHÃ | 
                        <% } %>
                        <%= moment(events[monthDate][0]['start']).format("DD/MM").replace('/', '.') %>
                        | <%= moment(events[monthDate][0]['start']).format("dddd").replace('-feira', '') %>
                    </h2>
                </div>
            </div>
        </div>

        <div class="slider-container">
            <% events[monthDate].forEach(function(ev, index) { %>
                <div class=".col-12 .col-sm-6 .col-md-4 .col-lg-3 .col-xl-3 mb-3">
                    <div class="event ml-2 mr-2">
                        <a class="anchor-wrapper" href="/eventos/<%=utilsService.encode(ev.city)%>/<%=utilsService.encode(ev.org)%>/<%=ev.code%>">
                            <a class="event-img" href="#" onclick="return false;"><img src="<%= ev.images[0] %>" alt=""></a>
                            <div class="event-body">
                                <div class="event-org">
                                    <a href="#" onclick="return false;"><%= ev.org %></a>
                                </div>
                                <h3 class="event-title"><a href="#" onclick="return false;"><%= ev.title %></a></h3>
                                <ul class="event-meta">
                                    <li><a href="#" onclick="return false;"><%= ev.city %></a></li>
                                    <li><%= moment(ev.start).format("DD/MM") %></li>
                                    <li><%= moment(ev.start).format("dddd").replace('-feira', '') %></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>

    <% } %>
<% }) %>
