<div class="section">
    <div class="row justify-content-center">
        <% for(var i=0; i < featured.length; i++) { %>
            <div class=".col-12 .col-sm-12 .col-md-6 .col-lg-4 .col-xl-3 mx-3">
                
                <div class="event event-thumb">
                    <a class="event-img" href="#" onclick="return false;"><img src="<%= featured[index].images[0] %>" alt=""></a>
                    <div class="event-body">
                        <div class="event-org featured">
                            <a href="#" onclick="return false;"><%= featured[index].orgName %></a>
                        </div>
                        <h3 class="event-title title-lg"><a href="#" onclick="return false;"><%= featured[index].title %></a></h3>
                        <ul class="event-meta">
                            <li><a href="#" onclick="return false;"><%= featured[index].cityName %></a></li>
                            <li><%= moment(featured[index].start).format("ddd") %></li>
                            <li><%= moment(featured[index].start).format("DD/MM") %></li>
                        </ul>
                    </div>
                </div>


            </div>
        <% } %>
    </div>
</div>